<div id="page-content">



  <div class="container" id="home-container">
      <div class="jumbotron">
        <h1 class="display-4">Finance Tracker</h1>
        <p class="lead">This applications is designed for tracking the price of stocks.</p>
        <hr class="my-4">
        <h2 id="instructions">Instructions</h2>
        <ol>
            <li>1.Visit your stocks portfolio by clicking the <strong>Portfolio navigation link</strong> at the top</li>
            <li>2.Search some stocks (you need to know the specific symbol) and add them to your portfolio</li>
            <li>3.Remove them if you want to, you have a maximum of 10 tracked stocks</li>
            <li>4.Visit your friends list by clicking the <strong>Friends navigation link</strong> at the top</li>
            <li>5.Search users by name or email and add them to your list</li>
            <li>6.Take a look at the stocks tracked by your friends and optionally add them to your portfolio</li>
        </ol>
        <h2>Useful links</h2>
        <ul>
        <li><a href="https://en.wikipedia.org/wiki/Stock", class= "color-link">What are stocks?</a></li>
        <li><a href="https://swingtradebot.com/equities", class= "color-link">List of all stocks</a></li>
        </ul>

      </div>
  </div>    
</div>

