@import 'bootstrap/dist/css/bootstrap';

/*
.navbar-brand {
    font-size: 3rem;
}
*/


.nav-item{

    color: lavenderblush
}

#home-container{
    margin-top: 35px;
}

.search-area {
    padding-top: 50px;
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.results-block {
    display: inline-block;
    margin-bottom: 1rem;
}

.logout-button {
    margin-right: 5px;
}

.user-name {
    margin-top: 3.5%;
    padding-right: 5px;
}

.jumbotron {
    background-image: asset-url('icon.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }
  

.background{
    background-color: whitegrey;
  }

.color-link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(135, 252, 99)
}
